td > a {
    margin-left: 10px;
    margin-right: 10px;
}
.rw-class {
    margin-bottom: 5px;
    padding-bottom: 30px;
}
.control-label b {
    font-size: 18px;
}
.align-center {
    text-align: center;
}
.attach-box {
    margin-right: 15px;
    display: block;
    padding: 35px;
    -webkit-box-shadow: 0.5px -0.5px 5.5px 0.5px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0.5px -0.5px 5.5px 0.5px rgba(0, 0, 0, 0.075);
    box-shadow: 0.5px -0.5px 5.5px 0.5px rgba(0, 0, 0, 0.075);
    border-radius: 8px;
    margin-bottom: 15px;
}
.attach-box img {
    width: 140px;
    margin: auto;
    display: block;
}
.attach-box-action a {
    margin-right: 60px;
    text-align: center;
}

.attach-box-action {
    margin-top: 30px;
}

.dt-buttons {
    position: absolute !important;
    float: none !important;
    top: -70px !important;
    right: 25px !important;
}

/*.buttons-csv {*/
    /*background-image: -webkit-linear-gradient(top, #1f99cc 0%, #1f99cc 100%) !important;*/
    /*color: white !important;*/
    /*font-weight: 700 !important;*/
    /*font-size: 14px !important;*/
    /*border-radius: 30px !important;*/
    /*border-color: #0099cc !important;*/
/*}*/


.right {
    float: right;
}

.left {
    float: left;
}
.datatable tr {
    cursor: pointer;
}
select {
    background-color: white;
    height: 23px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    cursor: pointer;
    width: 100%;
    border: 1px solid lightgrey;
    text-align-last: center;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}
.result-text{
    padding-left: 15px;
    padding-right: 15px;
}
.box-tab .tab-content {
    overflow: hidden;
    padding: 0px;
    background-color: #fff;
}
.box-tab .nav-tabs {
    position: relative;
    bottom: -1px;
    margin: 0 auto;
    padding: 0;
    /*border-bottom: 1px grey solid;*/
    background: #F0F0F0;
    font-weight: bolder;
    font-size: 12px;
}
.box-tab .nav-tabs li.active a, .box-tab .nav-tabs li.active a:hover {
    /*color: #616161;*/
    /*background-image: -webkit-linear-gradient(top, #1f99cc 0%, #1f99cc 100%) !important;*/
    /*color: white !important;*/
    color: white !important;
    background-color: #4cc3d9 !important;
    border-color: #4cc3d9 !important;
    background-image: unset !important;
}
.btn-export{
    background-image: none !important;
    color: black !important;
    font-weight: unset !important;
    font-size: 12px !important;
    border-radius: 0 !important;
    border-color: grey!important;
}
.btn-datatable{
    color: white !important;
    background-color: #4cc3d9 !important;
    border-color: #4cc3d9 !important;
    background-image: unset !important;

}
.datepicker table tr td.active.active, .datepicker table tr td.active:hover.active{
 background-color: #4cc3d9 !important;
}

div.dt-button-collection {
    width: 100px !important;
}
.buttons-html5{
    border: none !important;
}
#clients,#cases{
    margin-left: auto;
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right: 1px #e4e4e4 solid !important;
}
.cb-checkbox.checked .cb-inner {
    /* border-color: #0099cc; */
    background-color: unset;
}
.margin-bottom10{
    margin-bottom: 50px !important;
}
select {
    height: 30px;
    background-image: linear-gradient(45deg, transparent 50%, #616161 50%), linear-gradient(135deg, #616156 50%, transparent 50%), linear-gradient(to right, #F0F0F0, #F0F0F0) !important;
    background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    text-align-last: left;
}
input{
    height: 30px;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    height: unset;
}
